prefix=/Users/scarndp/.node
prefix=/Users/scarndp/.node
prefix=/Users/scarndp/.node
prefix=/Users/scarndp/.node
prefix=/Users/scarndp/.node
prefix=/Users/scarndp/.node
prefix=/Users/scarndp/.npm-packages
